@import '../../shared/utils/main.scss';

.form {
  width: 100%;

  &__title {
    margin-bottom: 24px;
    font-size: 32px;
  }

  &__field {
    width: 100%;
    margin-bottom: 16px;
  }

  &__input {
    width: 100%;
    padding: 14px 16px;
    border-radius: 24px;
    border: 1px solid #ccc;

    @extend %body-text-14;
    font-size: 16px;

    &:focus {
      outline: none;
      border-color: $main-color;
    }
  }

  &__input-error {
    border-color: #e53935;
  }

  &__button {
    width: 100%;
    padding: 14px;
    border-radius: 23px;
    background-color: $main-color;
    color: $page-bg-color;
    border: none;

    @extend %body-text-14;

    font-size: 16px;
    cursor: pointer;
  }

  &__text {
    margin-top: 16px;
    text-align: center;

    @extend %body-text-14;
  }

  &__description {
    margin-bottom: 10px;
    font-size: 14px;
    text-align: justify;
  }

  &__link {
    border: none;

    @extend %body-text-14;

    font-weight: 600;
    cursor: pointer;
  }

  &__error {
    display: block;
    margin-top: 6px;
    font-size: 12px;
    color: #e53935;
  }

  &__password {
    position: relative;
  }

  &__eye {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  &__forgot {
    margin-bottom: 16px;
    text-align: right;
  }
}
