@import '../shared/utils/main';

.home {
  &__main {
    display: flex;
    flex-direction: column;
    gap: 56px;
    margin-block: 24px 64px;

    @include on-tablet {
      gap: 64px;
      margin-top: 32px;
    }

    @include on-desktop {
      gap: 80px;
      margin-block: 56px 80px;
    }
  }

  &__slider-wrapper {
    @include content-padding-inline;
  }
}
